<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>List of Owners</title>
</head>
<!--/*@thymesVar id ="owner" type ="package life.springlearning.prabspringpetclinic.model.Owner"*/-->
<body>
    <h1 th:text="'List of owners'">Owners list</h1>
    <table id = "owners" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">id</th>
            <th style="width: 200px;">FirstName</th>
            <th style="width: 120px">Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner?.id}">1</td>
            <td th:text="${owner?.firstName}">Joey</td>
            <td th:text="${owner?.lastName}">Tribiani</td>
        </tr>
        </tbody>
    </table>

</body>
</html>